<main class="main_container">
  <div class="container">
    <div class="icon_check_circle">
      <mat-icon>check_circle_outline</mat-icon>
    </div>
    <div class="step">STEP 3 OF 3</div>
    <div class="p_1">Choose your plan.</div>
    <div class="p_2">
      <mat-icon>done</mat-icon>
      No commitments, cancel anytime.
    </div>
    <div class="p_3">
      <mat-icon>done</mat-icon>
      Everything on Netflix for one low price.
    </div>
    <div class="p_4">
      <mat-icon>done</mat-icon>
      Unlimited viewing on all your devices.
    </div>
    <button mat-raised-button [routerLink]="['/register/step4']">Next</button>
  </div>
</main>
