.container {
  height: var(--footer_height);
  width: 100%;
  background-color: black;
  color: var(--footer_font_color);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    margin-top: 2rem;
    height: 80%;
    width: var(--footer_content_width);
    display: flex;
    flex-direction: column;
    .call_me {
      margin-bottom: 2.5rem;
    }
    .link_list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .link_item {
        width: 25%;
        margin-bottom: 1rem;
      }
      .link_item:hover {
        text-decoration: underline;
      }
    }
  }
}
