.newbox {
  position: relative;
  margin: 20px 20px;
  height: 460px;
  width: 90%;
  background: linear-gradient(270deg, #89ff00, #00bcd4);

  .bk-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    height: 100%;
    width: 100%;
    transform: skew(2deg, 2deg);
    display: flex;
    justify-content: center;
    align-items: center;
    .bk-cover {
      height: 99%;
      width: 99%;
      background-color: black;
      opacity: 0.8;
    }
  }

  .content {
    position: absolute;
    bottom: 100px;
    padding: 20px;
    transform: translateY(100px);
    text-align: start;

    .movie_poster {
      position: absolute;
      top: -250px;
      height: 18em;
      width: 14em;
      right: 20px;
      transition: 0.5s;
      img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }
    }
    h3 {
      margin: 0 0 10px;
      padding: 0;
      font-size: 20px;
      font-weight: 500;
      color: rgb(255, 252, 238);
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-style: italic;
      color: #fff;
    }
    a {
      position: relative;
      margin: 20px 0 0;
      padding: 10px 20px;
      text-decoration: none;
      border: 1px solid #fff;
      display: inline-block;
      color: #fff;
      transition: 0.5s;
      transform: translateY(-40px);
      opacity: 0;
      visibility: hidden;
    }
    a:hover {
      color: #000;
      background: #fff;
    }
  }
}
.newbox:hover {
  .content {
    .movie_poster {
      top: -260px;
      box-shadow: 5px 5px 0 white;
    }
    a {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
