@import "src/styles.variables.scss";

.container {
  background-color: black;
  width: 100%;
  padding: $reuse_60 0;
  @include flex();

  .content {
    height: 80%;
    width: 50rem;

    .content_header {
      text-align: center;
      font-size: $reuse_50;
      line-height: 4.5rem;
      background-color: black;
      color: white;
      margin-bottom: 2.5rem;
    }
  }
  mat-expansion-panel {
    background-color: $questionlist_background;
    mat-expansion-panel-header {
      height: 70px;
      mat-panel-title {
        height: 100%;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.7rem;
        color: white;
      }
    }
  }
}
::ng-deep .mat-expansion-indicator::after {
  font-size: 2rem;
  color: red;
}
::ng-deep .mat-typography p {
  white-space: pre-line;
  font-size: 1.225rem;
  line-height: 1.8rem;
  color: rgb(216, 216, 216);
}

.form_container {
  margin-top: 2.5rem;
  @include flex(space-between, center, column);

  width: 100%;
  padding: 0 2.5rem;

  .row_text {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
  }
  .content_h3 {
    color: white;
    font-size: 1.2rem;
  }
  .start_form {
    position: relative;
    margin-top: 1.25rem;
    width: 100%;
    height: $reuse_50;

    .input_container {
      position: relative;
      height: 100%;
      width: 100%;
      .start_input {
        margin: auto;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        font-size: 1rem;
        border-radius: 20px;
      }
      .start_btn {
        position: absolute;
        right: 0;
        border: none;
        width: 12.5rem;
        height: 100%;
        outline: none;

        background-color: #e50914;
        color: white;
        font-size: 1rem;
      }
    }
    .form_validate_msg {
      position: absolute;
      padding-top: 0.65rem;
      left: 3px;
      color: rgb(255, 160, 10);
    }
  }
}
