<div class="container">
  <div class="content">
    <!-- ------------------------------------------------------------------- -->
    <div class="content_header">Frequently Asked Questions</div>
    <!-- ------------------------------------------------------------------- -->
    <mat-accordion>
      @for (question of questionList; track $index) {
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> {{ question.title }} </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ question.description }}</p>
        </mat-expansion-panel>
      }
    </mat-accordion>
    <!-- ------------------------------------------------------------------- -->
    <div class="form_container">
      <div class="content_h3 row_text">
        Ready to watch? Enter your email to create or restart your membership.
      </div>

      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="start_form row_text"
      >
        <div class="input_container">
          <input
            class="start_input"
            type="text"
            formControlName="email"
            placeholder="Email Address"
          />
          <button
            mat-raised-button
            class="start_btn"
            type="submit"
            [routerLink]="['/register/step1']"
          >
            Get Started >
          </button>
        </div>
        @if (!email?.valid && (email?.dirty || email?.touched)) {
          <div class="form_validate_msg">
            @if (email?.errors?.required) {
              <div>Email is required!</div>
            }
            @if (email?.errors?.email) {
              <div>Please enter a valid email address!</div>
            }
          </div>
        }
      </form>
    </div>
    <!-- ------------------------------------------------------------------- -->
  </div>
</div>
