<main class="main_container">
  <div class="container">
    <div class="step">STEP 1 OF 3</div>
    <div class="p_1">Create a password to start your membership</div>
    <div class="p_2">Just a few more steps and you're done!</div>
    <div class="p_3">We hate paperwork, too.</div>

    <form class="register_form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" required />
        @if (isLoading) {
          <mat-spinner matSuffix [diameter]="25"></mat-spinner>
        }
        @if (!email?.errors?.hasemail && !isLoading) {
          <mat-icon class="check_email_ok" matSuffix>
            check_circle_outline
          </mat-icon>
        }
        @if (email?.errors?.hasemail && !isLoading) {
          <mat-icon class="check_email_not" matSuffix>
            not_interested
          </mat-icon>
        }
        @if (email?.errors?.required) {
          <mat-error>Email is required!</mat-error>
        }
        @if (email?.errors?.email) {
          <mat-error>Email not Valided!</mat-error>
        }
        @if (email?.errors?.hasemail) {
          <mat-error> This email already exist... </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Add a password</mat-label>
        <input matInput formControlName="password" required />
        @if (password?.invalid) {
          <mat-error>Password is required!</mat-error>
        }
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="!form.valid"
        [ngClass]="{ inValidForm: !form.valid }"
      >
        Next
      </button>
    </form>
  </div>
</main>
