<main
  class="host"
  [ngStyle]="{
    'background-image': ['url(', backdrop_img_high, ')'].join(''),
    'background-size': '100vw 100vh'
  }"
>
  <app-main-header></app-main-header>
  <div class="container">
    <article class="movie_info">
      <section class="movie_name">
        {{ movie.title | overviewControl : 20 }}
      </section>
      <section class="movie_info_list">
        <mat-icon>star</mat-icon>
        <span style="font-size: 1.6rem" class="fc">
          {{ movie.vote_average?.toFixed(1) }}&nbsp;
        </span>
        <span class="fc">| {{ movie.popularity?.toFixed(0) }}</span>
        <span style="margin-left: 2rem" class="fc">
          {{ movie.runtime }} mins · {{ type }} · {{ date }}
        </span>
      </section>
      <section class="description fc">
        {{ movie.overview }}
      </section>
      <section class="homepage">
        <p *ngIf="movie.homepage">
          Home Page <mat-icon>fingerprint</mat-icon>
          <a
            mat-raised-button
            [href]="movie.homepage"
            (click)="openNewTab()"
            class="detail_font-style btn_background_color"
          >
            {{ movie.homepage }}
          </a>
        </p>
      </section>
      <div class="takeplace"></div>

      <section class="btn_list">
        <button class="btn fc" disabled>
          <mat-icon>play_arrow</mat-icon> <span>PLAY NOW</span>
        </button>
        <button class="btn" (click)="openDialog()">
          <strong>TRAILER</strong>
        </button>
      </section>
    </article>

    <article class="movie_info">
      <section class="posters_list">
        <h1>Poster</h1>
        <div class="list">
          <div class="poster_item" *ngFor="let poster of posters">
            <img [src]="poster.file_path" />
          </div>
        </div>
      </section>
      <div class="takeplace"></div>

      <section class="actors_list">
        <h1>Actors</h1>
        <div class="list">
          <div class="actor_item" *ngFor="let actor of actors">
            <ng-container *ngIf="actor.profile_path; else notfound">
              <img [src]="actor.profile_path" />
              <div style="text-align: center">{{ actor.name }}</div>
            </ng-container>
            <ng-template #notfound>
              <img
                src="../../../assets/video/VGA-no-signal-image.jpeg"
                style="height: 100%"
              />
              <div style="text-align: center">{{ actor.name }}</div>
            </ng-template>
          </div>
        </div>
      </section>
    </article>
  </div>
</main>
