<div
  class="host"
  [ngStyle]="{
    'background-image': 'url(' + backdrop_img_high + ')',
    'background-size': 'auto 100%'
  }"
>
  <div class="container">
    <div class="info_holder">
      <div class="video_holder">
        <div class="video_list">
          <button
            class="video_switcher_left"
            mat-fab
            (click)="switchVideo('left')"
          >
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button
            class="video_switcher_right"
            mat-fab
            (click)="switchVideo('right')"
          >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <div class="no_signal" *ngIf="!movieVideos[0]">
            <img [src]="backdrop_img_high" alt="" />
            <img src="../../../assets/video/VGA-no-signal-image.jpeg" alt="" />
          </div>
          <youtube-player
            *ngIf="movieVideos[0]"
            [videoId]="movieVideos[0]?.key"
            suggestedQuality="highres"
            [playerVars]="{
              autoplay: 1,
              controls: 1,
              playlist: movieVideos[0]?.key,
              loop: 1,
              modestbranding: 1
            }"
            [height]="600"
            [width]="1000"
          >
          </youtube-player>
        </div>
      </div>

      <div class="movie_detail_holder">
        <div class="post_img"><img [src]="poster_img_high" alt="" /></div>
        <div class="detail_list">
          <p *ngIf="movie.homepage">
            Home Page <mat-icon>fingerprint</mat-icon>
            <a
              mat-raised-button
              [href]="movie.homepage"
              class="detail_font-style btn_background_color"
            >
              {{ movie.homepage }}
            </a>
          </p>
          <p *ngIf="movie.genres?.length">
            Genres <mat-icon>fingerprint</mat-icon>
            <button
              mat-raised-button
              *ngFor="let genre of movie.genres"
              class="detail_font-style btn_background_color"
            >
              {{ genre.name }}
            </button>
          </p>
          <p>
            Title <mat-icon>fingerprint</mat-icon>
            <span class="detail_font-style">
              <span *ngIf="movie.title !== movie.original_title">
                {{ movie.original_title }} |
              </span>
              {{ movie.title }}
            </span>
          </p>
          <p *ngIf="movie.runtime">
            Time <mat-icon>fingerprint</mat-icon>
            <span class="detail_font-style">{{ movie.runtime }} mins</span>
          </p>
          <p *ngIf="movie.release_date">
            Release Date <mat-icon>fingerprint</mat-icon>
            <span class="detail_font-style">{{
              movie.release_date | date: "dd/MM/yyyy"
            }}</span>
          </p>
          <p>
            Over View <mat-icon>fingerprint</mat-icon>
            <span class="detail_font-style">{{ movie.overview }}</span>
          </p>
        </div>
      </div>

      <div class="production_companies">
        <img
          class="company_icon"
          *ngFor="let icon of companies_icons"
          [src]="icon"
        />
      </div>
    </div>
  </div>
</div>
