<div class="newbox">
  @if (isLoading) {
    <div class="spinner_container">
      <mat-spinner></mat-spinner>
    </div>
  }

  <div
    class="bk-image"
    [ngStyle]="{
      'background-image': 'url(' + poster_img_high + ')',
      'background-size': 'cover',
    }"
  >
    <div class="bk-cover"></div>
  </div>
  <div class="content">
    <div class="movie_poster">
      @if (hasPoster_img) {
        <img [src]="poster_img_high()" alt="" />
      } @else {
        <img src="/assets/movie/notfoundimg.jpeg" />
      }
    </div>
    <h3>
      {{ movie().title ? movie().title : (movie.name | overviewControl: 20) }}
    </h3>
    <div class="simple_inof">
      <div class="yr_len_vo">
        <span class="publish_year">{{ year() }}</span>
        <span class="lenguage">{{
          movie().original_language | uppercase
        }}</span>
        <span class="vote">{{ movie().vote_average }}</span>
      </div>
      <p>
        {{ movie().overview | overviewControl: 95 }}
      </p>
    </div>
    <a (click)="gotoDetailPage()"> More Details </a>
  </div>
</div>
