@import "../../../../../styles.variables.scss";

.newbox {
  position: relative;
  margin: 2rem;
  height: 28.75rem;
  width: 20rem;
  background: linear-gradient(270deg, #e91e63, #5d02ff);

  .spinner_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }

  .bk-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    height: 100%;
    width: 100%;
    transform: skew(2deg, 2deg);
    @include flex();
    .bk-cover {
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.8;
    }
  }

  .content {
    position: absolute;
    bottom: $reuse_100;
    padding: 20px;
    transform: translateY($reuse_100);
    text-align: start;
    width: 100%;

    .movie_poster {
      position: absolute;
      top: -13.75rem;
      height: 16em;
      width: 12em;
      right: 20px;
      transition: 0.5s;
      img {
        // border: 1px solid #6c0d2d;
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }
    }
    h3 {
      margin: 0 0 0.2em;
      padding: 0;
      font-size: 1.4em;
      font-weight: 500;
      color: rgb(255, 252, 238);
    }
    .simple_inof {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 5em;
      font-style: italic;
      color: #fff;
      .yr_len_vo {
        width: 100%;
        height: 1.5em;
        font-size: 0.8em;
        margin-bottom: 5px;
        @include flex(space-around);

        span {
          background-color: #8d143c;
          line-height: 100%;
          padding: 2px 30px;
          border-radius: 20px;
          text-align: center;
        }
        span:nth-child(1) {
          font-size: 1.4em;
        }
        span:nth-child(3) {
          color: greenyellow;
          font-size: 1.4em;
        }
      }
      p {
        font-size: 1em;
        line-height: 1.4em;
      }
    }
    a {
      position: relative;
      margin: 20px 0 0;
      padding: 10px 20px;
      text-decoration: none;
      border: 1px solid #fff;
      display: inline-block;
      color: #fff;
      transition: 0.5s;
      transform: translateY(-40px);
      opacity: 0;
      visibility: hidden;
    }
    a:hover {
      color: #000;
      background: #fff;
    }
  }
}
.newbox:hover {
  .content {
    .movie_poster {
      top: -15rem;
      box-shadow: 0 0 10px #6c0d2d;
    }
    a {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
