<section class="video_holder">
  <div class="video_list">
    <button class="video_switcher_left" mat-fab (click)="switchVideo('left')">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button class="video_switcher_right" mat-fab (click)="switchVideo('right')">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    @if (!movieVideos[0]) {
      <div class="no_signal">
        @if (hasbackdrop_img) {
          <img [src]="backdrop_img_high" alt="" />
        }
        <img src="/assets/video/VGA-no-signal-image.jpeg" alt="" />
      </div>
    } @else {
      <youtube-player
        [videoId]="movieVideos[0].key"
        suggestedQuality="highres"
        [playerVars]="{
          autoplay: 0,
          controls: 1,
          playlist: movieVideos[0].key,
          loop: 1,
          modestbranding: 1,
        }"
        height="600"
        width="1001"
      >
      </youtube-player>
    }
  </div>
</section>
