<div
  class="movie_Recommend"
  [ngStyle]="{
    'background-image': 'url(' + recommendImg() + ')',
    'background-size': '100% auto',
    'background-position': 'center',
  }"
>
  <app-main-header></app-main-header>
  <div class="recommend_list">
    @if (recommend().length) {
      @for (item of recommend(); track $index) {
        <div
          class="recommend_item"
          (mouseover)="handleHoverRecommend(item.id)"
          (click)="navigateMovie(item.id)"
        >
          {{ item.title | overviewControl: 18 }}
        </div>
      }
    }
  </div>
  <div class="cover_img_bottom">
    <div class="button_container">
      <button
        class="movies"
        mat-raised-button
        color="accent"
        (click)="switchToMovieList()"
      >
        Movies
      </button>
      <button
        class="tv"
        mat-raised-button
        color="accent"
        (click)="switchToTvList()"
      >
        Tv Show
      </button>
    </div>
  </div>
  <div class="cover_img_left"></div>
  <div class="cover_img_right"></div>
</div>
