@import "../../../../../styles.variables.scss";

.main_container {
  width: 100vw;
  height: calc(100vh - $reuse_80);
  @include flex();

  .container {
    padding-bottom: $reuse_300;
    width: 21.875rem;
    @include flex(flex-start, stretch, column);

    .icon_check_circle {
      mat-icon {
        color: red;
        font-size: 4rem;
        transform: translate(-22px, 0);
      }
    }
    .step,
    .p_1,
    .p_2,
    .p_3,
    .p_4 {
      width: 100%;
      margin-top: 20px;
      mat-icon {
        color: red;
        margin-right: 3px;
        transform: translate(0, 5px);
      }
    }
    .step {
      text-align: center;
    }
    .p_1 {
      font-size: 2rem;
      line-height: 2.5rem;
      text-align: center;
    }
    .p_2,
    .p_3,
    .p_4 {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    button {
      margin-top: 1.875rem;
      background-color: red;
      color: white;
      font-size: 1.5rem;
      width: 100%;
      height: $reuse_60;
    }
  }
}
