<header class="header">
  <img src="/assets/home/netflix_icon.png" [routerLink]="['/home']" />
</header>
<main class="container">
  <div class="glass_layer">
    <div class="login_container">
      <!-- ----------------------- ----------------------- -->
      <div class="title">Sign In</div>
      <!-- ----------------------- ----------------------- -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
        <mat-form-field class="login_username" appearance="fill">
          <mat-label>Email or phone number</mat-label>
          <input type="email" matInput formControlName="email" />

          @if (email?.hasError("email") && !email?.hasError("required")) {
            <mat-error> Please enter a valid email address </mat-error>
          }
          @if (email?.hasError("required")) {
            <mat-error> Email is <strong>required</strong> </mat-error>
          }
        </mat-form-field>

        <mat-form-field class="login_password" appearance="fill">
          <mat-label>Enter your Password</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          @if (password?.hasError("required")) {
            <mat-error> Please enter a valid password </mat-error>
          }
          <!-- @if (password?.hasError("required")) {
            <mat-error> Password is <strong>required</strong> </mat-error>
          } -->
        </mat-form-field>

        <button class="submit_btn" mat-raised-button type="submit">
          Sign In
        </button>
        @if (login_msg.msg) {
          <div class="login_error">{{ login_msg.msg }}</div>
        }
        <div class="rem_holder">
          <div class="rem_me">
            <mat-checkbox
              type="checkbox"
              id="rem_me_box"
              formControlName="loginFacebook"
            ></mat-checkbox>
            <label for="rem_me_box">Remember me</label>
          </div>
          <a href="">Need Help?</a>
        </div>
      </form>
      <!-- ----------------------- ----------------------- -->
      <div class="login_fb">
        <img src="/assets/login/FB-f-Logo__blue_57.png" alt="" />
        <label for="">Login with Facebook</label>
      </div>
      <!-- ----------------------- ----------------------- -->
      <div class="sign_up_nav">
        New to Netflix?
        <a [routerLink]="['/register']">Sign up now</a>.
      </div>
      <!-- ----------------------- ----------------------- -->
      <p class="right_description">
        This page is protected by Goodle reCAPTCHA to ensure you're not a bot.
        <a href="">Learn more.</a>
      </p>
      <!-- ----------------------- ----------------------- -->
    </div>
  </div>
</main>

<app-main-footer
  [linkList]="linkList"
  [backgroundColor]="backgroundColor"
></app-main-footer>
