<main>
  <app-main-header></app-main-header>
  <app-main-row-one></app-main-row-one>

  <hr />
  <!-- --------------------------------------------------------------------------- -->
  <app-main-row-two
    [header]="'Enjoy on your TV.'"
    [content]="
      'Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.'
    "
    [templatePic]="'tv'"
    [videoIncome]="'jojo_6.mp4'"
  ></app-main-row-two>

  <hr />
  <!-- --------------------------------------------------------------------------- -->
  <app-main-row-three
    [channel]="'download'"
    [header]="'Download your shows to watch offline.'"
    [content]="'Save your favorites easily and always have something to watch.'"
  ></app-main-row-three>

  <hr />
  <!-- --------------------------------------------------------------------------- -->
  <app-main-row-two
    [header]="'Watch everywhere.'"
    [content]="
      'Stream unlimited movies and TV showns on your phone, tablet, laptop, and TV without paying more.'
    "
    [templatePic]="'device'"
    [videoIncome]="'netflix_trailer.mp4'"
  ></app-main-row-two>

  <hr />
  <!-- --------------------------------------------------------------------------- -->
  <app-main-row-three
    [channel]="'kid'"
    [header]="'Create profiles for kids.'"
    [content]="
      ' Send kids on adventures with their favorite characters in a space made just for them—free with your membership.'
    "
  ></app-main-row-three>

  <hr />
</main>

<footer></footer>
