@import "../../../styles.variables.scss";

hr {
  height: 2px;
  margin-top: $reuse_80;
  background-color: white;
}

app-main-footer {
  width: 100vw;
  height: $reuse_200;
  position: fixed;
  bottom: 0;
}
