<div class="container">
  <div class="content">
    <!-- --------------------------------------------- -->
    @if (channel() === "download") {
      <div class="content_download">
        <img src="/assets/home/mobile-0819.jpeg" alt="" />
        <div class="download_box">
          <img src="/assets/home/boxshot.png" alt="" class="boxshotImg" />
          <div class="text_holder">
            <span>Stranger Things</span>
            <span class="dowloading">Downloading...</span>
          </div>
          <img
            src="/assets/home/download-icon.gif"
            alt=""
            class="download_icon"
          />
        </div>
      </div>
    } @else if (channel() === "kid") {
      <div class="content_kid">
        <img src="/assets/home/WechatIMG136.png" alt="" />
      </div>
    }
    <!-- --------------------------------------------- -->
    <div class="content_text">
      <div class="content_text_header">
        {{ header() }}
      </div>
      <div class="content_text_content">
        {{ content() }}
      </div>
    </div>
    <!-- --------------------------------------------- -->
  </div>
</div>
