@import "../../../../styles.variables.scss";

.home_header {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: $transparent_color;
  height: $header_height;
  width: 100%;
  @include flex;

  .header_content {
    height: 100%;
    width: $reuse_1000;
    @include flex(space-between);

    mat-form-field {
      width: 30%;
      position: relative;

      ::ng-deep .mat-form-field-outline {
        color: rgba(0, 0, 0, 0);
      }
      ::ng-deep .mat-form-field-underline::before,
      ::ng-deep .mat-form-field-ripple {
        background-color: rgb(232, 124, 3);
      }
      ::ng-deep .mat-form-field-flex {
        margin-top: 1.1rem;
        color: rgba(255, 255, 255, 0.775);
        height: 3.45rem;
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      mat-label {
        color: rgba(255, 255, 255, 0.664);
      }
      mat-icon {
        color: rgb(232, 124, 3);
      }
      .icon-display {
        position: absolute;
        top: -33px;
        right: 5px;
        transform: scale(1.5);
      }
    }

    .login_container,
    .logout_container {
      color: white;
      @include flex(space-around);
    }
    .logout_container {
      span {
        font-size: 1.5rem;
        margin-right: 1.3rem;
        height: 3rem;
        line-height: 3rem;

        background: linear-gradient(235deg, rgb(43, 255, 0), rgb(0, 255, 191));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate1 5s linear infinite;
      }
      @keyframes animate1 {
        0%,
        100% {
          filter: hue-rotate(0deg);
        }
        50% {
          filter: hue-rotate(360deg);
        }
      }
    }

    .netflix_icon {
      height: 80%;
    }
    .signIn_btn,
    .signOut_btn {
      height: 2.5rem;
      width: 6rem;
      border: none;
      background-color: #e50914;
      color: white;
      font-weight: 400;
      font-size: 1rem;
      border-radius: 3px;
    }
  }
}
