<header class="home_header">
  <div class="header_content">
    <img
      class="netflix_icon"
      src="../assets/home/netflix_icon.png"
      [routerLink]="['/home']"
    />

    <!-- @if (showSearchForm()) {
      <mat-form-field appearance="outline">
        <mat-label>Search Movie</mat-label>
        <input
          matInput
          placeholder=""
          [(ngModel)]="searchKeyWord"
          (keyup.enter)="searchMovieByKeyWord()"
        />
        <mat-icon matSuffix class="icon-display">search</mat-icon>
      </mat-form-field>
    } -->

    <!-- @if (!loading() && isLogin()) { -->
    @defer {
      @if (isLogin()) {
        <div class="logout_container">
          <span> {{ username }} </span>
          <button mat-raised-button class="signOut_btn" (click)="signOut()">
            Sign Out
          </button>
        </div>
      } @else {
        <!-- @else if (!loading() && !isLogin()) { -->
        <div class="login_container">
          <button
            mat-raised-button
            class="signIn_btn"
            [routerLink]="['/login']"
          >
            Sign In
          </button>
        </div>
      }
    }
    <!-- @else {
      <div></div>
    } -->
  </div>
</header>
