@import "../../../styles.variables.scss";

:host {
  overflow: hidden;
}
.header {
  background-color: black;
  padding: 0 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $reuse_100;
  width: 100vw;
  position: fixed;
  top: 0;
}
.main {
  position: fixed;
  top: $reuse_100;
  width: 100vw;
  height: calc(100vh - $reuse_100);
  background-color: green;
  background-image: url("../../../assets/notfound/bg-lost-in-space.png");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  .error_msg_container {
    display: flex;
    padding: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
    .msg_title {
      font-size: 5rem;
      line-height: 5.5rem;
    }
    .msg_detail {
      margin-top: 2.5rem;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 0.1rem;
      text-align: center;
      width: 56.25rem;
    }
    button {
      margin-top: 1.875rem;
      padding: 10px 2.5rem;
      font-size: 1.6rem;
    }
    .error_code {
      border-left: 5px solid red;
      font-size: 2rem;
      margin-top: $reuse_200;
      padding: 2.5rem;
      span {
        color: rgb(199, 255, 255);
      }
    }
  }
  .short_msg {
    margin: 1.875rem $reuse_50;
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 1rem;
    span {
      height: 100%;
      line-height: 100%;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      color: rgb(146, 203, 253);
      margin-right: 10px;
    }
  }
}
