.home_header {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .header_content {
    height: 100%;
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .login_container,
    .logout_container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: white;
    }
    .logout_container {
      span {
        font-size: 1.5rem;
        margin-right: 1.3rem;
      }
    }

    .netflix_icon {
      height: 60%;
    }
    .signIn_btn,
    .signOut_btn {
      height: 45%;
      width: 6rem;
      border: none;
      background-color: #e50914;
      color: white;
      font-weight: 400;
      font-size: 1rem;
      border-radius: 3px;
    }
  }
}
