<header class="home_header">
  <div class="header_content">
    <img
      class="netflix_icon"
      src="../assets/home/netflix_icon.png"
      [routerLink]="['/home']"
    />

    <div *ngIf="!isLogin" class="login_container">
      <button mat-raised-button class="signIn_btn" [routerLink]="['/login']">
        Sign In
      </button>
    </div>

    <div *ngIf="isLogin" class="logout_container">
      <span> {{ username }} </span>
      <button mat-raised-button class="signOut_btn" (click)="signOut()">
        Sign Out
      </button>
    </div>
  </div>
</header>
