@import "../../../../styles.variables.scss";

.home_header {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: $transparent_color;
  height: $header_height;
  width: 100%;
  @include flex;

  .header_content {
    height: 100%;
    width: 100%;
    padding: 0 2.5rem;
    @include flex(space-between);

    .login_container,
    .logout_container {
      @include flex(space-around);
      color: white;
    }
    .logout_container {
      span {
        font-size: 1.5rem;
        margin-right: 1.3rem;
        height: 3rem;
        line-height: 3rem;

        background: linear-gradient(235deg, rgb(43, 255, 0), rgb(0, 255, 191));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate1 5s linear infinite;
      }
      @keyframes animate1 {
        0%,
        100% {
          filter: hue-rotate(0deg);
        }
        50% {
          filter: hue-rotate(360deg);
        }
      }
    }

    .netflix_icon {
      height: 80%;
    }
    .signIn_btn,
    .signOut_btn {
      height: 45%;
      width: 6rem;
      border: none;
      background-color: #e50914;
      color: white;
      font-weight: 400;
      font-size: 1rem;
      border-radius: 3px;
    }
  }
}
