<main class="main_container">
  <div class="container">
    <div class="step">STEP 3 OF 3</div>
    <div class="p_1">Choose the plan that't right for you</div>
    <div class="p_2">
      <mat-icon>done</mat-icon>
      Watch all you want. Ad-free.
    </div>
    <div class="p_3">
      <mat-icon>done</mat-icon>
      Recommendations just for you.
    </div>
    <div class="p_4">
      <mat-icon>done</mat-icon>
      Change or cancel your plan anytime.
    </div>
    <div class="plan_table">
      <div class="plan_icon">
        <div class="description"></div>
        <div [ngClass]="{ val_container: true }" (click)="selectPlan('USER')">
          <div
            [ngClass]="{ plan: true, plan_selected: selecedColumn === 'USER' }"
          >
            @if (selecedColumn === "USER") {
              <div [ngClass]="{ arrow: true }"></div>
            }
            Basic
          </div>
        </div>
        <div
          [ngClass]="{ val_container: true }"
          (click)="selectPlan('SUPERUSER')"
        >
          <div
            [ngClass]="{
              plan: true,
              plan_selected: selecedColumn === 'SUPERUSER'
            }"
          >
            @if (selecedColumn === "SUPERUSER") {
              <div [ngClass]="{ arrow: true }"></div>
            }
            Standard
          </div>
        </div>
        <div [ngClass]="{ val_container: true }" (click)="selectPlan('ADMIN')">
          <div
            [ngClass]="{ plan: true, plan_selected: selecedColumn === 'ADMIN' }"
          >
            @if (selecedColumn === "ADMIN") {
              <div [ngClass]="{ arrow: true }"></div>
            }
            Premium
          </div>
        </div>
      </div>
      <div class="m_price border_bt row">
        <div class="description">Monthly price</div>
        <div [ngClass]="{ val_container: true, red: selecedColumn === 'USER' }">
          {{ plans.Basic.MonthlyPrice | currency }}
        </div>
        <div
          [ngClass]="{
            val_container: true,
            red: selecedColumn === 'SUPERUSER'
          }"
        >
          {{ plans.Standard.MonthlyPrice | currency }}
        </div>
        <div
          [ngClass]="{ val_container: true, red: selecedColumn === 'ADMIN' }"
        >
          {{ plans.Premium.MonthlyPrice | currency }}
        </div>
      </div>
      <div class="v_quality border_bt row">
        <div class="description">Video quality</div>
        <div [ngClass]="{ val_container: true, red: selecedColumn === 'USER' }">
          {{ plans.Basic.VideoQuality }}
        </div>
        <div
          [ngClass]="{
            val_container: true,
            red: selecedColumn === 'SUPERUSER'
          }"
        >
          {{ plans.Standard.VideoQuality }}
        </div>
        <div
          [ngClass]="{ val_container: true, red: selecedColumn === 'ADMIN' }"
        >
          {{ plans.Premium.VideoQuality }}
        </div>
      </div>
      <div class="resolution border_bt row">
        <div class="description">Resolution</div>
        <div [ngClass]="{ val_container: true, red: selecedColumn === 'USER' }">
          {{ plans.Basic.Resolution }}
        </div>
        <div
          [ngClass]="{
            val_container: true,
            red: selecedColumn === 'SUPERUSER'
          }"
        >
          {{ plans.Standard.Resolution }}
        </div>
        <div
          [ngClass]="{ val_container: true, red: selecedColumn === 'ADMIN' }"
        >
          {{ plans.Premium.Resolution }}
        </div>
      </div>
      <div class="device row">
        <div class="description">
          Watch on your TV, computer, mobile phone and tablet
        </div>
        <div [ngClass]="{ val_container: true, red: selecedColumn === 'USER' }">
          <mat-icon>done</mat-icon>
        </div>
        <div
          [ngClass]="{
            val_container: true,
            red: selecedColumn === 'SUPERUSER'
          }"
        >
          <mat-icon>done</mat-icon>
        </div>
        <div
          [ngClass]="{ val_container: true, red: selecedColumn === 'ADMIN' }"
        >
          <mat-icon>done</mat-icon>
        </div>
      </div>
    </div>
    <div></div>
    <button mat-raised-button (click)="handleNavigate()">Next</button>
  </div>
</main>
