<main class="main_container">
  <div class="container">
    <div class="step">STEP 1 OF 3</div>
    <div class="p_1">
      Create a Username && Add your Tmdb Api_Key
      <img
        src="../../../../assets/register/tmdb_icon.jpeg"
        (click)="gotoApplyApiKey()"
      />
    </div>
    <div class="p_2">Just a few more steps and you're done!</div>
    <div class="p_3">We hate paperwork, too.</div>

    <form class="register_form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Enter your username</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="username?.invalid">{{
          errorMessageUsername()
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Add your Tmdb Api_Key</mat-label>
        <input matInput formControlName="tmdb_key" required />
        <mat-error *ngIf="tmdb_key?.invalid">{{
          errorMessageApiKey()
        }}</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        [routerLink]="['/register/step3']"
        [disabled]="!form.valid"
        [ngClass]="{ inValidForm: !form.valid }"
      >
        Next
      </button>
    </form>
  </div>
</main>
