@import "../../../../../styles.variables.scss";

.main_container {
  width: 100vw;
  height: calc(100vh - $reuse_80);
  @include flex();
  .container {
    padding-bottom: $reuse_200;
    width: $reuse_400;
    margin-bottom: $reuse_100;
    @include flex(flex-start, stretch, column);
    .step,
    .p_1,
    .p_2,
    .p_3 {
      width: 100%;
      margin-top: 20px;
      font-size: 0.8rem;
      line-height: 1rem;
    }
    .p_1 {
      font-size: 2rem;
      line-height: 2rem;
      img {
        cursor: pointer;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        height: 2.5rem;
        width: auto;
      }
    }
    .p_2,
    .p_3 {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    .register_form {
      margin-top: 20px;
      width: 100%;

      mat-form-field {
        width: 100%;
        margin-bottom: 1rem;
        input {
          width: 100%;
        }
      }
      button,
      .inValidForm {
        margin-top: 20px;
        background-color: red;
        color: white;
        font-size: 1.5rem;
        width: 100%;
        height: $reuse_60;
      }
      .inValidForm {
        background-color: rgb(111, 1, 1);
        color: rgb(161, 161, 161);
      }
    }
  }
}
