/* You can add global styles to this file, and also import other style files */

/* footer */
:root {
  --footer_height: 25rem;
  --footer_font_color: rgb(153, 153, 153);

  --footer_content_width: 62rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
