<div class="movie_list">
  <div
    class="movie_Recommend"
    [ngStyle]="{
      'background-image': 'url(' + showRecommendImg() + ')',
      'background-size': '100% auto',
      'background-position': 'center'
    }"
  >
    <app-main-header [(showSearchForm)]="showSearchForm"></app-main-header>
    <div class="recommend_list">
      @for (item of recommendSignal(); track $index) {
        <div
          class="recommend_item"
          (mouseover)="handleHoverRecommend(item.id)"
          (click)="navigateMovie(item.id)"
        >
          {{ item.title | overviewControl: 18 }}
        </div>
      }
    </div>
    <div class="cover_img_bottom">
      <div class="button_container">
        <button
          class="movies"
          mat-raised-button
          color="accent"
          (click)="switchToMoiveList()"
        >
          Movies
        </button>
        <button
          class="tv"
          mat-raised-button
          color="accent"
          (click)="switchToTvList()"
        >
          Tv Show
        </button>
      </div>
    </div>
    <div class="cover_img_left"></div>
    <div class="cover_img_right"></div>
  </div>

  <cdk-virtual-scroll-viewport
    [itemSize]="itemSizePx"
    class="viewport"
    (scrolledIndexChange)="onScroll()"
  >
    <div *cdkVirtualFor="let movies of movieSignal()" class="movie_row">
      <div class="hr"></div>
      <div class="movie_row_container">
        @for (movie of movies; track $index) {
          <app-item [movie]="movie"></app-item>
        }
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
