<div class="movie_list" cdkVirtualScrollingElement>
  <app-recommend
    [recommendImg]="showRecommendImg()"
    [recommend]="recommendSignal()"
    [searchForm]="showSearchForm()"
    (switchToMovie)="switchToMoiveList()"
    (hoverRecommend)="handleHoverRecommend($event)"
  ></app-recommend>

  @defer {
    <cdk-virtual-scroll-viewport
      [itemSize]="itemSizePx"
      (scrolledIndexChange)="onScroll()"
    >
      <div *cdkVirtualFor="let movies of movieSignal()" class="movie_row">
        <div class="hr"></div>
        <div class="movie_row_container">
          @for (movie of movies; track $index) {
            <app-item [movie]="movie"></app-item>
          }
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  }
</div>
