.movie_list {
  background-color: black;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .movie_Recommend {
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: bisque;
  }
  .movie_list {
    position: relative;
    width: 90vw;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .movie_item {
      width: 350px;
    }
  }
}
