<div class="container">
  <div class="content">
    <!-- --------------------------------------------- -->
    <div class="content_download" *ngIf="channel === 'download'">
      <img src="../../../../assets/home/mobile-0819.jpeg" alt="" />
      <div class="download_box">
        <img
          src="../../../../assets/home/boxshot.png"
          alt=""
          class="boxshotImg"
        />
        <div class="text_holder">
          <span>Stranger Things</span>
          <span class="dowloading">Downloading...</span>
        </div>
        <img
          src="../../../../assets/home/download-icon.gif"
          alt=""
          class="download_icon"
        />
      </div>
    </div>
    <!-- --------------------------------------------- -->
    <div class="content_kid" *ngIf="channel === 'kid'">
      <img src="../../../../assets/home/WechatIMG136.png" alt="" />
    </div>
    <!-- --------------------------------------------- -->
    <div class="content_text">
      <div class="content_text_header">
        {{ header }}
      </div>
      <div class="content_text_content">
        {{ content }}
      </div>
    </div>
    <!-- --------------------------------------------- -->
  </div>
</div>
